# Compiled Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Dependency directories
__pypackages__/

# Environment variables file (if using .env)
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python project settings
*.idea/
.vscode/

# Logs
*.log

# Miscellaneous
*.swp
.DS_Store
